@model E_Banking_MVC.ViewModels.PaymentPaymentsViewModel
@{
    Layout = null;
}
<html>
    <head>
        <title>Payments</title>
        <style>
            .text-danger{color:red}
        </style>
        <script src="~/js/validationPaymentInput.js"></script>
    </head>

    <body>
       <h1>Working with Account: @Model.Account.Number</h1>
       <h2>Account Holder: @Model.Account.Holder</h2>
       <h3>List of all transactions</h3>

       <table border="1">

        <tr>
            <th>Transant</th>
            <th>Payment Amount</th>
            <th>Transaction Date</th>
            <th>Payment Purpose</th>
            <th>Urgent</th>
        </tr>

        @foreach(Payment payment in Model.Payments)
        {
            @if (payment.IsUrgent)
            {
                <tr style="background-color:green"></tr>
                <td>@payment.PayerName</td>
                <td>@payment.Amount</td>
                <td>@payment.TransactionDate.ToString("dd.MM.yyyyy")</td>
                <td>@payment.Purpose</td>
                <td>Yes</td>
                <td><a href=""  style="color:white">Edit</a></td>
                <td><a href="" style="color:white">Delete</a></td>
            }
            else
            {
                <tr style="background-color:red"></tr>
                <td>@payment.PayerName</td>
                <td>@payment.Amount</td>
                <td>@payment.TransactionDate.ToString("dd.MM.yyyyy")</td>
                <td>@payment.Purpose</td>
                <td>No</td>
                <td><a href="" style="color:white">Edit</a></td>
                <td><a href="" style="color:white">Delete</a></td>
            }
        }
    </table>
     <h2>Total: @Model.Total</h2>
     <a href="">Show only inflows</a>  | <a href="">Show only outflows</a>
     <hr />
    <a href="">Search Payments</a>
    <hr />

    <h1>Execute a new transaction</h1>
    <form action="/Payment/Create" method="post" onsubmit="return validationPaymentInput()">
        <input type="hidden" value="@Model.Account.Id" name="Payment.AccountId" />
        <table>
            <tr>
                <td>Transant</td>
                <td><input name="Payment.PayerName" type="text" value="@Model.Payment.PayerName" id="transantInput" /></td>
                <td>@Html.ValidationMessageFor(p =>p.Payment.PayerName,"", new {@class="text-danger"})</td>
                <td><span id="transantInputError" class="text-danger"></span></td>

            </tr>
            <tr>
                <td>Payment Amount</td>
                <td><input name="Payment.Amount" type="number" value="@Model.Payment.Amount" id="amountInput" /></td>
                <td>@Html.ValidationMessageFor(p => p.Payment.Amount, "", new { @class = "text-danger" })</td>
                <td><span id="amountInputError" class="text-danger"></span></td>
            </tr>
            <tr>
                <td>Transantion Date</td>
                <td><input name="Payment.TransactionDate" type="date" placeholder="dd.mm.yyyy" min="01.01.2025." max="01.01.2030." value="@Model.Payment.TransactionDate" id="transactionDateInput" /></td>
                <td>@Html.ValidationMessageFor(p => p.Payment.TransactionDate, "", new { @class = "text-danger" })</td>
                <td><span id="transactionDateInputError" class="text-danger"></span></td>
            </tr>
            <tr>
                <td>Payment Purpose</td>
                <td><input name="Payment.Purpose" type="text" value="@Model.Payment.Purpose" id="purposeInput"/></td>
                <td>@Html.ValidationMessageFor(p => p.Payment.Purpose, "", new { @class = "text-danger" })</td>
                <td><span id="purposeInputError" class="text-danger"></span></td>
            </tr>
            <tr>
                <td>Urgent</td>
                @if (Model.Payment.IsUrgent)
                {
                    <td><input name="Payment.IsUrgent" type="checkbox" checked value="true" /></td>
                }
                else
                {
                    <td><input name="Payment.IsUrgent" type="checkbox" value="true" /></td>
                }
            </tr>
            <tr>
                <td><input type="submit" value="Execute The Payment" /></td>
            </tr>
        </table>
    </form>
    </body>

</html>